<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apollo Hospital</title>
</head>

<body>

    <div class="main-wrapper">

        <header>
            <span class="logo">
                <img src="#" alt="">
            </span>

            <span class="account">
                <h3 id="account__name"></h3>
            </span>
        </header>

        <main>

            <nav>

                <div class="dropdown">
                    <button class="dropdown__add-item-button">adicionar novo</button>
                    <button class="dropdown__button">profissionais</button>
                    <div class="dropdown__options">
                        <a href="#">todos</a>
                        <a href="#">?</a>
                        <a href="#">?</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown__add-item-button">adicionar novo</button>
                    <button class="dropdown__button">pacientes</button>
                    <div class="dropdown__options">
                        <a href="#">todos</a>
                        <a href="#">?</a>
                        <a href="#">?</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown__button">andares</button>
                    <div class="dropdown__options">
                        <a href="#">todos</a>
                        <a href="#">?</a>
                        <a href="#">?</a>
                    </div>
                </div>

            </nav>

            <section>
                <div class="presentation">

                </div>
            </section>

        </main>

    </div>

</body>

</html>
