<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apollo Hospital</title>

    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/apollo-logo.png' %}" type='image/png' />

    <link rel="stylesheet" href="{% static 'font-face.css' %}">

    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/all.min.css' %}">

    <script src="{% static 'dashboard/script.js' %}"></script>
</head>

<body>

    <div class="main-wrapper">
        <header>
            <div class="logo-wrapper" onclick="location.href='/';" style="cursor: pointer;">
                <img src="{% static 'images/apollo-logo.png' %}" alt="">
            </div>
            <div class='account'>
                <h2 class="account__name">{{user.username}}</h2>
            </div>
        </header>

        <main>

            <nav>

                <div class="dropdown">
                    <button class="dropdown__add-item-button" onclick="window.location.href='create-profissional'">
                        <i class="fas fa-plus"></i>
                        <a class='buttonC'>adicionar novo</a>
                    </button>
                    <button class="dropdown__button"
                        onclick="toggleDropdownContentVisibility('profissionais_dropdown')">
                        <a>PROFISSIONAIS</a>
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div id="profissionais_dropdown" class="dropdown__content hide">
                        <table class='presentation'>
                            <tr>
                                <th> ID </th>
                                <th> NOME </th>
                                <th> CPF </th>
                                <th> ESPECIALIDADE </th>
                            </tr>
                            {% for profissional in lista_profissionais %}
                            <tr>
                                <td> {{profissional.id}} </td>
                                <td> {{profissional.nome}} </td>
                                <td> {{profissional.cpf}} </td>
                                <td> {{profissional.especialidade}} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown__add-item-button" onclick="window.location.href='create-paciente'">
                        <i class="fas fa-plus"></i>
                        <a class='buttonC'>adicionar novo</a>
                    </button>
                    <button class="dropdown__button" onclick="toggleDropdownContentVisibility('pacientes_dropdown')">
                        <a>PACIENTES</a>
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div id="pacientes_dropdown" class="dropdown__content hide">
                        <table class='presentation'>
                            <tr>
                                <th> ID </th>
                                <th> NOME </th>
                                <th> CPF </th>
                                <th> ESTÁ ATENDIDO? </th>
                            </tr>
                            {% for paciente in lista_pacientes %}
                            <tr>
                                <td> {{paciente.id}} </td>
                                <td> {{paciente.nome}} </td>
                                <td> {{paciente.cpf}} </td>
                                <td> {% if paciente.estado_atend == True %}
                                    ATENDIDO
                                    {% else %}
                                    NÃO ATENDIDO
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown__button" onclick="toggleDropdownContentVisibility('andares_dropdown')">
                        <a>ANDARES</a>
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div id="andares_dropdown" class="dropdown__content hide">
                        <table class='presentation'>
                            <tr>
                                <th> NÚMERO </th>
                                <th> LEITOS </th>
                                <th> LEITOS OCUPADOS </th>
                            </tr>
                            {% for andar in lista_andares %}
                            <tr>
                                <td> {{andar.numero_andar}} </td>
                                <td> {{andar.leitos_totais}} </td>
                                <td> {{andar.leitos_ocupados}} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </nav>

            <section>
                <div class="info-leitos">
                    <h2>LEITOS DISPONÍVEIS</h2>
                    <p>{{leitos_totais}}</p>
                    <h2>LEITOS OCUPADOS</h2>
                    <p>{{leitos_ocupados}}</p>
                    <h2>PORCENTAGEM DE OCUPAÇÃO</h2>
                    <p>{{porcentagem}} %</p>
                </div>
            </section>

        </main>

    </div>

</body>

</html>