* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 0.75em;
}

body {
  display: block;
  background-color: blueviolet;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.main-wrapper {
  width: 1300px;
  display: block;
  background-color: #E5E5E5;
  margin: 40px auto;
}

@media screen and (max-width: 1300px) {
  .main-wrapper {
    width: 100%;
  }
}

header {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 8px grey;
}

header .logo-wrapper {
  padding: 20px 10px 20px 60px;
}

header .logo-wrapper img {
  width: 12em;
  height: 9em;
}

header .account {
  padding: 20px;
}

main {
  padding: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 550px;
  font-family: 'Poppins';
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px;
}

.dropdown__add-item-button {
  width: 150px;
  font-family: 'Poppins';
  font-weight: bold;
  color: white;
  background-color: #1FA4C1;
  margin: 5px;
  border: transparent;
  cursor: pointer;
}

.dropdown__add-item-button a {
  margin-left: 5px;
  text-transform: uppercase;
}

.dropdown__button {
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  width: 550px;
  border: transparent;
  background-color: #C4C4C4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
}

.dropdown__content {
  display: block;
  background-color: #f9f9f9;
  
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.presentation {
  border-collapse: collapse;
  width: 100%;
}

.presentation tr {
  text-align: center;
  font-size: 1.2em;
}

.presentation tr:nth-child(odd) {
  background-color: gray;
}

.presentation tr:nth-child(even) {
  background-color: darkgrey;
}

.presentation td, .presentation th {
  padding:5px;
}

.hide {
  display: none;
}
