* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 0.75em;
}

body {
  display: block;
  background-color: blueviolet;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.main-wrapper {
  width: 1300px;
  display: block;
  background-color: aqua;
  margin: 40px auto;
}

@media screen and (max-width: 1300px) {
  .main-wrapper {
    width: 100%;
  }
}

header {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 8px grey;
}

header .logo-wrapper {
  padding: 20px 10px 20px 60px;
}

header .logo-wrapper img {
  width: 12em;
  height: 7em;
}

header .account {
  padding: 20px;
}

main {
  padding: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-family: 'Poppins';
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.dropdown__add-item-button {
  width: 150px;
  font-family: 'Poppins';
}

.dropdown__add-item-button a {
  margin-left: 5px;
  text-transform: uppercase;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.hide {
  display: none;
}

.visible {
  display: block;
}
