<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apollo Hospital</title>

    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/apollo-logo.png' %}" type='image/png' />

    <link rel="stylesheet" href="{% static 'font-face.css' %}">

    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/all.min.css' %}">

</head>

<body>

    <div class="main-wrapper">

        <header>
            <div class="logo-wrapper" onclick="location.href='/';" style="cursor: pointer;">
                <img src="{% static 'images/apollo-logo.png' %}" alt="">
            </div>
            <div class='account'>
                <h2 class="account__name">{{user.name}}Fulano</h2>
            </div>
        </header>

        <main>

            <div class='midContent'>
                {% if form.errors %}
                <p>Existem erros no preenchimento das informações. Preencha novamente.</p>
                {% endif %}

                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}

                    <table class='tables'>
                        <tr>
                            <td> {{form.label_tag}} </td>
                            <td> {{form}} </td>
                        </tr>
                    </table>
                    <br>

                    <input type="submit" value="Register" />
                </form>

            </div>


        </main>

    </div>

</body>

</html>